.parent {
  width: 100%;
}
.parent .root .box {
  float: left;
  width: 250px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #cbd0d8;
  border: 1px solid black;
  text-align: center;
}
.parent .root .deleteChild {
  position: absolute;
  margin-top: 0px;
  border: 1px solid black;
  margin-left: 200px;
}
.parent .root .deleteChild .deleteChild-btn {
  fonst-size: 80px;
  background-color: darkred;
  color: white;
}
.parent .root .textBoss {
  background-color: brown;
  text-align: center;
  color: white;
}
.parent .root .number {
  position: absolute;
  margin-top: 30px;
  border: 1px solid black;
}
.parent .root .number .coloRed {
  color: red;
  font-size: 50px;
}
.parent .root .reset {
  border: 1px solid black;
  margin-top: 78px;
  margin-left: 87px;
}
.parent .root .reset .btnReset {
  width: 75px;
  background-color: brown;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
}
.parent .root .reset .btnReset:hover {
  background-color: darkgreen;
}
.parent .root .reset .btnReset:active,
.parent .root .reset .btnReset:focus {
  outline: none;
}
.parent .root .btn {
  position: absolute;
  margin-left: 90px;
}
.parent .root .btn .btn-minus {
  cursor: pointer;
  width: 30px;
  position: absolute;
  font-size: 25px;
  color: red;
  background-color: transparent;
  border: none;
}
.parent .root .btn .btn-minus:hover {
  background-color: red;
  color: white;
  border-radius: 30px;
}
.parent .root .btn .btn-minus:active,
.parent .root .btn .btn-minus:focus {
  outline: none;
}
.parent .root .btn .btn-plus {
  position: absolute;
  margin-left: 35px;
  cursor: pointer;
  width: 30px;
  font-size: 25px;
  background-color: transparent;
  color: green;
  border: none;
}
.parent .root .btn .btn-plus:hover {
  background-color: forestgreen;
  color: white;
  border-radius: 30px;
}
.parent .root .btn .btn-plus:active,
.parent .root .btn .btn-plus:focus {
  outline: none;
}
.parent .root .addedChild {
  position: absolute;
  margin-left: 70px;
  margin-top: 10px;
  display: inline-block;
}
.parent .root .addedChild:hover {
  background-color: forestgreen;
  border-radius: 100px;
}
.parent .root .addedChild .addedChild-btn {
  color: forestgreen;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.parent .root .addedChild .addedChild-btn:active,
.parent .root .addedChild .addedChild-btn:focus {
  outline: none;
}
.parent .root .addedChild .addedChild-btn:hover {
  color: white;
}
.parent .root .mode {
  position: inherit;
  margin-top: 25px;
  border: 1px solid black;
  display: inline-block;
  background-color: forestgreen;
}
.parent .root .mode .mode-btn-on {
  width: 50px;
  color: white;
  border: none;
  background-color: green;
  cursor: pointer;
}
.parent .root .mode .mode-btn-off {
  width: 50px;
  color: white;
  border: none;
  background-color: red;
  cursor: pointer;
}
.warn {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  color: red;
}
.none {
  display: none !important;
}
